<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Reset hasła</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
</head>
<body>
    <h1>Reset hasła</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <form id="send-code-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Wyślij kod</button>
    </form>
    
    <form id="reset-password-form" method="POST" action="{{ url_for('auth_routes.reset_password') }}" style="display: none;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" id="reset_email" name="email">
        
        <label for="reset_code">Kod resetu:</label>
        <input type="text" id="reset_code" name="reset_code" required>
        
        <label for="new_password">Nowe hasło:</label>
        <input type="password" id="new_password" name="new_password" required>
        
        <button type="submit">Zmień hasło</button>
    </form>
    
    <br>
  <a href="{{ url_for('auth_routes.index') }}"><button>Zaloguj się</button></a>

</body>
</html>
